trailingComma: 'es5'
tabWidth: 2
semi: false
singleQuote: true
arrowParens: 'always'
# arrowParens: 'avoid'
printWidth: 80
singleAttributePerLine: true
bracketSameLine: true
bracketSpacing: false
quoteProps: 'consistent'
